# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Default rules for all files
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# JavaScript / TypeScript / React / JSON
[*.{js,jsx,ts,tsx,json}]
indent_style = space
indent_size = 2

# CSS / SCSS
[*.{css,scss}]
indent_style = space
indent_size = 2

# Markdown documentation
[*.md]
trim_trailing_whitespace = false
